

body {
    background-color: white;
    margin: 20px ;
    justify-content: center; 
    align-items: center; 
}


.card {
    background-color: white;
    width: 200px;
    margin: 100px auto; 
    padding: 10px;
    text-align: center;
     border-radius: 10px;
}

.container {
    background-color: #d6e2f0; 
    padding: 40px; 
    border-radius: 15px;
    margin: 200px;
}
.card img {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    font-size: 16px;
    margin: 10px 0 5px;
    color: black;
}

.card p {
    font-size: 14px;
    color: #555;
}