body {
  background-color: white;
  
}
.background {
  background-color: #d6e2f0;
  width: 90%;
  height: 500px;
  margin: 100px auto;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: white;
  width: 250px;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h1 {
  font-size: 16px;
  color: #1f3251;
}

.card p {
  font-size: 13px;
  color: #7b879d;
}